{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'error_400.css' %}">
    <title>DuckEMB - ERROR 400</title>
</head>
<body>
    <div id="hand_error">
		<div class="hand_error-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="hand_error">
			<div class="hand_error-EMB">
				<h1>400</h1>
			</div>
			<h2>Bad Request</h2>
			<p>La petición que le hiciste al servidor no puede ser respondida. Por favor comuniquese con soporte técnico si cree que es un error.</p>
			<a href="/">Volver a la Página Principal</a>
		</div>
	</div>
</body>
</html>