{% extends 'base.html' %}
{% block content %}
{% load static%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <!-- JQUERY -->
    <link rel="stylesheet" href="{% static 'cards-article.css' %}">
    <link rel="stylesheet" href="{% static 'table_form.css' %}">
    <link rel="stylesheet" href="{% static 'button_personalized.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Listado - Articulos</title>
    <script>
        function mostrar()
        {
            variable1 = document.getElementById("seccionPrincipal");
            variable1.style.display="block";
            variable2 = document.getElementById("multi");
            variable2.style.display="none";
        }
    </script>

    <script>
        function ocultar()
        {
            variable1 = document.getElementById("multi");
            variable1.style.display="block";
            variable2 = document.getElementById("seccionPrincipal");
            variable2.style.display="none";
        }
    </script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="h-100 pb-3 mb-3" id="categorias">
        
        <div class="d-flex justify-content-between">
            <h2 class="titulo-bloque">
                Artículos
            </h2>
            {% if user.is_superuser %}
                <button class="glow-on-hover" type="button">
                    <a href="/newarticulo/" class="boton-link">Añadir Artículo</a>
                </button>
                <button class="glow-on-hover" type="button">
                    <a href="/graficos3/" class="boton-link">Mostrar grafico de Stock</a>
                </button>
            {% endif %}
            {% if user.is_staff %}
                <button class="glow-on-hover" type="button">
                    <a href="/articulosPDF/" target="_blank" class="boton-link">Imprimir Listado</a>
                </button>
            {% endif %}
        </div>
        <p></p>
        <div class="h-100 pb-3 mb-3" id="categorias">
            <p></p>
            <div class="d-flex">
                <div class="card">
                    <div class="card-body p-2">
                        <h5 class="titulo-bloque me-4">
                            Visualizar:
                        </h5>
                        <button class="glow-on-hover" onclick="mostrar()">
                            Tarjetas
                        </button>
                        <button class="glow-on-hover" onclick="ocultar()">
                            Listado
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="seccionPrincipal" style="display: none; padding-left: 140px;">
            <div class="row">
                {% for art in articulo %}
                <div style="width: 310px;">
                    <div class="card-container">
                        <a href="#" class="hero-image-container">
                            <img class="imagen-card" src="{{ MEDIA_URL }}{{ art.imagen }}">
                        </a>
                        <main class="main-content">
                            <h3>{{ art.descripcion }}</h3>
                            <p>Categoria: {{ art.categoria }}</p>
                            <p>Marca: {{ art.marca }}</p>
                            <p>Modelo: {{ art.modelo }}</p>
                            <div class="flex-row">
                                <div class="coin-base">
                                    <h4 class="precio">$</h4>
                                    <h4 class="precio">{{ art.iva|floatformat:2}}</h4>
                                </div>
                            {% if user.is_superuser %}
                                <p>Costo: ${{ art.precio }}</p>
                            {% endif %}
                            </div>
                            <div class="coin-base">
                                {% if user.is_superuser %}
                                    <a href="/modarticulo/{{ art.id }}/"><img src="{% static '/Iconos/ico-editar.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Modificar Artículo" alt="editar ico" width="30px" class="ico-boton me-2"></a>
                                    <a href="/deletearticulo/{{ art.id }}/"><img src="{% static '/Iconos/ico-eliminar.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Eliminar Artículo" alt="eliminar ico" width="30px" class="ico-boton me-2"></a>
                                {% endif %}
                                <a href="/detailarticulo/{{ art.id }}/"><img src="{% static '/Iconos/ico-detalles.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver Detalles" alt="detalles ico" width="22px" class="ico-boton me-2"></a>
                                {% if user.is_superuser %}
                                    <a href="/adquisiciónxarticulos/{{ art.id }}/"><img src="{% static '/Iconos/ico-adquisicion_x.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver en Adquisiciones" alt="detalles ico" width="22px" class="ico-boton me-2"></a>
                                    <a href="/pedidoxarticulos/{{ art.id }}/"><img src="{% static '/Iconos/ico-pedido_x.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver en Pedidos" alt="detalles ico" width="22px" class="ico-boton me-2"></a>
                                {% endif %}
                            </div>
                        </main>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="multi">
            <!-- Tabla Categorías -->
            <section class="intro">
                <div class="bg-image h-100" style="background-color: #f5f7fa;">
                  <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                      <div class="row justify-content-center">
                          <div class="card">
                            <div class="card-body p-0">
                              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative">
                                <table id="tablax" class="table table-striped mb-0">
                                    <thead style="background-color: #002d72;">
                                        <!-- Header Tabla -->
                                        <tr class="header-tabla">
                                            <th scope="col">
                                                Imagen
                                            </th>
                                            <th scope="col">
                                                Artículo
                                            </th>
                                            <th scope="col">
                                                Costo
                                            </th>
                                            <th scope="col">
                                                Precio
                                            </th>
                                            <th scope="col">
                                                Stock
                                            </th>
                                            <th scope="col">
                                                Categoría
                                            </th>
                                            <th scope="col">
                                                Marca
                                            </th>
                                            <th scope="col">
                                                Modelo
                                            </th>
                                            <th scope="col">
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for art in articulo %}
                                        <tr class="body-tabla">
                                            <td>
                                                <img src="{{ MEDIA_URL }}{{ art.imagen }}" class="ms-3" width="100px" class="my-3">
                                            </td>
                                            <td>
                                                <h6 class="mt-2">{{ art.descripcion }}</h6>
                                            </td>
                                            <td>
                                                {% if user.is_superuser %}
                                                    <h6 class="mt-2">${{ art.precio }}</h6>
                                                {% else %}
                                                    <h6 class="mt-2"> -</h6>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <h6 class="mt-2">${{ art.iva|floatformat:2}}</h6>
                                            </td>
                                            <td>
                                                {% if user.is_staff %}
                                                    {% if art.stock > 0 %}
                                                        <h6 class="mt-2">{{ art.stock }}</h6>
                                                    {% else %}
                                                        <a><img src="{% static '/Iconos/ico-alerta.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Stock Bajo: {{ art.stock }}" alt="editar ico" width="30px" class="ico-boton"></a>
                                                    {% endif %}
                                                {% else %}
                                                    <h6 class="mt-2">Consultar</h6>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <h6 class="mt-2">{{ art.categoria }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mt-2">{{ art.marca }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mt-2">{{ art.modelo }}</h6>
                                            </td>
                                            <td>
                                                {% if user.is_superuser %}
                                                    <a href="/modarticulo/{{ art.id }}/"><img src="{% static '/Iconos/ico-editar.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Modificar Artículo" alt="editar ico" width="30px" class="ico-boton"></a>
                                                    <a href="/deletearticulo/{{ art.id }}/"><img src="{% static '/Iconos/ico-eliminar.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Eliminar Artículo" alt="eliminar ico" width="30px" class="ico-boton"></a>
                                                {% endif %}
                                                <a href="/detailarticulo/{{ art.id }}/"><img src="{% static '/Iconos/ico-detalles.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver Detalles" alt="detalles ico" width="22px" class="ico-boton"></a>
                                                {% if user.is_superuser %}
                                                    <a href="/adquisiciónxarticulos/{{ art.id }}/"><img src="{% static '/Iconos/ico-adquisicion_x.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver en Adquisiciones" alt="detalles ico" width="22px" class="ico-boton"></a>
                                                    <a href="/pedidoxarticulos/{{ art.id }}/"><img src="{% static '/Iconos/ico-pedido_x.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver en Pedidos" alt="detalles ico" width="22px" class="ico-boton"></a>
                                                {% endif %}
                                        </td>
                                        </tr>
                                        {% endfor %}
                                        <!-- End Body Tabla -->
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>

    <!-- End Tabla Categorías -->

    <!-- DATATABLES -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tablax').DataTable({
                responsive: true,
                autowidth: false,
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                lengthMenu: [ [5, 10, 15, 25, -1], [5, 10, 15, 25, "Todo"] ],
            });
        });
    </script>
</body>
</html>

{% endblock %}