.glow-on-hover {
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    outline: none;
    color: #121111;
    background: #ed954d;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #df6501, #ff7300, #ff7c10, #fa8220, #df6d10, #ba5401, #fb8422, #db7018, #ff7300);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #121111;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    content: '';
    background: linear-gradient(45deg, #df6501, #ff7300, #ff7c10, #fa8220, #df6d10, #ba5401, #fb8422, #db7018, #ff7300);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}