{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'table_form.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>DuckEMB v.0.4.13</title>
    <style>
        .boton_atras {
            margin-bottom: 8px;
            margin-left: 14px;
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
        }

        .helptext {
            display: none;
        }

        .errorlist {
            display: none;
        }

        .derecha {
            float: left;
        }

        #id_fechaInicio {
            width: 100%;
        }

        #id_fechaFinal {
            width: 100%;
        }
    </style>
</head>

<body>
    <button class="boton_atras btn btn-secondary">
        <a href="/obras/" style="color: white;">Volver Atras</a>
    </button>
    <div class="container mt-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sm-7">
                <div class="card">
                    <div class="card-header">
                        <h4>Obra</h4>
                    </div>
                    <div class="card-body">
                        {{ form.management_form }}
                        {{ form.non_form_errors }}
                        {{ form2.as_p }}
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-5">
                <button type="submit" class="px-5 btn btn-success derecha">Enviar</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('.form-select').select2();
        });
    </script>
</body>
</html>


{% endblock %}