{% extends 'base.html' %}
{% block content %}
{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'table_form.css' %}">
    <link rel="stylesheet" href="{% static 'button_personalized.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
        <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Listado - Categoria</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="h-100 col-12 pb-3 mb-3" id="categorias">
        <div class="d-flex justify-content-between">
            <h2 class="titulo-bloque">
                Categorias
            </h2>
            {% if user.is_superuser %}
                <button class="glow-on-hover" type="button">
                    <a href="/newcategoria/">Añadir Categoría</a>
                </button>
            {% endif %}
        </div>
    </div>
    <!-- End Tabla Categorías -->

    <section class="intro">
        <div class="bg-image h-100" style="background-color: #f5f7fa;">
          <div class="mask d-flex align-items-center h-100">
            <div class="container">
              <div class="row justify-content-center">
                  <div class="card">
                    <div class="card-body p-0">
                      <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative">
                        <table id="tablax" class="table table-striped mb-0">
                          <thead style="background-color: #002d72;">
                            <tr>
                              <th scope="col">Imagen</th>
                              <th scope="col">Categoria</th>
                              <th scope="col">Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for cat in categoria %}
                            <!-- End Header Tabla -->
                            <!-- Body Tabla -->
                            <tr class="body-tabla">
                                <td>
                                    <img src="{{ MEDIA_URL }}{{ cat.imagen }}" class="mx-5" width="100px">
                                </td>
                                <td>
                                    <h5 class="mt-1">{{ cat.categoria }}</h5>
                                </td>
                                <td>
                                    {% if user.is_superuser %}
                                        <a href="/modcategoria/{{ cat.id }}/"><img src="{% static '/Iconos/ico-editar.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Modificar Categoría" alt="editar ico" width="30px" class="me-3 ico-boton"></a>
                                        <a href="/deletecategoria/{{ cat.id }}/"><img src="{% static '/Iconos/ico-eliminar.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Eliminar Categoría" alt="eliminar ico" width="30px" class="me-3 ico-boton"></a>
                                    {% endif %}
                                    {% if user.is_staff %}
                                        <a href="/articulosxcategoria/{{ cat.id }}/"><img src="{% static '/Iconos/ico-detalles.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver articulos de Categoría" alt="articulosxcategoria ico" width="30px" class="me-3 ico-boton"></a>
                                    {% endif %}
                                </td>
                            </tr>
                            <!-- End Body Tabla -->
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    <!-- DATATABLES -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tablax').DataTable({
                responsive: true,
                autowidth: false,
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_ items",
                    info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                lengthMenu: [ [5, 10, 15, 25, -1], [5, 10, 15, 25, "Todo"] ],
            });
        });
    </script>
</body>
</html>

{% endblock %}